.image-upload > input {
    display: none;
}

.yes {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-top: 10px !important;
}

.it {
    height: 160px;
    border-radius: 10px;
}

.btn-rmv1 {
    display: none;
}

.rmv {
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
    background: #39383880;
    margin: -10px -15px;
    padding: 0px 7px;
}

.rmv:hover {
    background: #10101080;
}